*{
  font-family: 'Ubuntu', sans-serif;
}

i {
  padding-right: 8px;
}

#hidden {
  display: none;
}

#form1{
  width: 50%;
}

.bt{
  background: transparent;
  border-style: none;
}

.absolute {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

@media (max-width:768px){
  #form1{
    width: 90%;
  }
}