*{
  font-family: 'Ubuntu', sans-serif;
}

i {
  padding-right: 8px;
}

#hidden {
  display: none;
}

.bt{
  background: transparent;
  border-style: none;
}

.absolute {
  position: fixed;
  bottom: 40px;
  right: 40px;
}